<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brian.progproj">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".RippleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmActivity"
            android:label="@string/title_activity_farm"></activity>
        <activity
            android:name=".AddFarmActivity"
            android:label="@string/title_activity_add_farm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RippleActivity"
            android:label="@string/title_activity_ripple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRippleActivity"
            android:label="@string/title_activity_add_ripple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".singleRippleGraph" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailActivity"></activity>
    </application>

</manifest>